@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');




/* Prevent overscroll on the whole page */
body {
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: overlay;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  color-scheme: light dark;
  color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@font-face {
  font-family: 'Koulen';
  src: url('./assets/koulen.ttf') format('truetype');
}
@font-face {
  font-family: 'Ondine';
  src: url('./assets/arabian_night.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hidayatullah';
  src: url('./assets/hidayatullah.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
}

